{% extends 'index.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h2 class="text-center text-dark mb-5 mt-2">Acerca de Mi</h2>
    <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <div class="card bg-primary">
                <div class="card-body text-center">
                    <h3 class="card-title mb-3">Ivan Zarate</h3>
                    <p class="card-text">Python Developer Jr.</p>
                    <p class="card-text">Desarrollador Web Jr.</p>
                    <p class="card-text">JavaScript Developer Jr.</p>
                    <p class="card-text">React Developer Jr.</p>
                    <p class="card-text">Backend(node.js) Developer Jr.</p>
                    <p class="card-text">Sigueme en:</p>
                    <a href="https://github.com/ivan-zarate/"><i class="bi bi-github text-dark mx-1"></i></a>
                    <a href="https://linkedin.com/in/ivan-zarate-2662ab274"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="">
                <div class="text-center">
                    <p>Buenas! Mi nombre es Ivan, actualmente me encuentro trabajando como Administrador y Planificador de redes hace 11 años en Telefonica.
                        Desde el 2022 me empece a interesar en la programación y me anote en la carrera de Desarrollo FullStack en CoderHouse.
                        Fue difícil en algunos momentos, pero pude terminar la carrera muy bien! Ahora me encuentro aprendiendo el lenguaje de Programación Python junto con Django.
                        Desde ya muchas gracias por visitar mi página!!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}