{% extends "index.html" %}

{% block content %}
<div class="bg-success p-2 text-center" style="--bs-bg-opacity: .5;">
    <h3 class="container">Eliminar Producto</h3>
    <p>¿Estás seguro de que deseas eliminar el producto <strong>"{{ producto.nombre }}" </strong>?</p>
    <form class="mb-3" method="post">
        {% csrf_token %}
        <button class="btn btn-danger mt-3 p-2" style="width:30%" type="submit">Eliminar</button>
    </form>
    <a class="btn btn-primary mb-3 p-2" style="width:30%" href="{% url 'Inicio' %}">Cancelar</a>
</div>
{% endblock %}