{% extends 'index.html' %}

{% load static %}

{% block content %}
<section class="container text-center row p-3" style="margin-top:2em">
    {% if notebooks %}
                {% for notebook in notebooks %}
                    <div class="card mb-3" style="max-width: 700px; max-height:250px">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ notebook.imagen.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ notebook.nombre }}</h5>
                                    <p class="card-text">$ {{ notebook.precio }}</p>
                                    {% if user == notebook.user %}
                                        <a class="btn btn-warning" href="{% url 'editar_notebook' notebook.id %}">Editar</a>
                                        <a  class="btn btn-danger" href="{% url 'eliminar_notebook' notebook.id %}">Eliminar</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
    {% endif %}
    {% if amplificadores %}
                {% for amplificador in amplificadores %}
                    <div class="card mb-3" style="max-width: 700px; max-height:250px">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ amplificador.imagen.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ amplificador.nombre }}</h5>
                                    <p class="card-text">$ {{ amplificador.precio }}</p>
                                    {% if user == amplificador.user %}
                                        <a class="btn btn-warning" href="{% url 'editar_amplificador' amplificador.id %}">Editar</a>
                                        <a  class="btn btn-danger" href="{% url 'eliminar_amplificador' amplificador.id %}">Eliminar</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
    {% endif %}
    {% if monitores %}
                {% for monitor in monitores %}
                    <div class="card mb-3" style="max-width: 700px; max-height:250px">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ monitor.imagen.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ monitor.nombre }}</h5>
                                    <p class="card-text">$ {{ monitor.precio }}</p>
                                    {% if user == monitor.user %}
                                        <a class="btn btn-warning" href="{% url 'editar_monitor' monitor.id %}">Editar</a>
                                        <a  class="btn btn-danger" href="{% url 'eliminar_monitor' monitor.id %}">Eliminar</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
    {% endif %}
    {% if noData %}
        {{ noData }}
    {%endif%}
</section>

{% endblock  %}