{% extends 'index.html' %}

{% load static %}

{% block content %}
    <section class="container-fluid " style="margin-top:2em">
        <h3 class= "container mb-5">Detalle del producto</h3>
        <div class="container text-center ">
            <div class="row border border-danger pt-5 pb-5 rounded-4">
                <img src="{{ producto.imagen.url }}" class="col-md-6">
                <div class="row col-6 col-md-6">
                    <h5>Nombre del producto: {{ producto.nombre }}</h5>
                    <h5>Precio: $ {{ producto.precio }}</h5>
                    <h5>Stock disponible: {{ producto.cantidad }}</h5>
                    {%if producto.potencia%}
                        <h5>Potencia: {{ producto.potencia }} Watts</h5>
                    {%endif%}
                    {%if producto.tamaño %}
                        <h5>Tamaño:"{{ producto.tamaño }} </h5>
                    {%endif%}
                    <p> <strong>Descripcion: </strong> {{ producto.descripcion }}</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container text-center mt-3">
        <a class="btn btn-primary" href="{% url 'Inicio' %}">Regresar</a>
    </div>
{% endblock  %}